h1 {
    color: black;
	text-align: center;
	font-size: 50px;
}

.places {
    color: pink
}


.header-section {
	background-color:white;
	padding: 5% 10%;
}

/*Tilbods svæðið*/

.Tilbod_1{
	background-color:rgb(0, 0, 0);
	padding: 5% 10%;
	margin-top: 1%;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5%;
}

.flexingItems {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5%;
}

.Tilbodin {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 24%;
    min-width: 290px;
    margin-bottom: 2.5%;
    background-color: white;
}

.Brynjar {
	width: 100%;
}

.stadurNafn {
	width: 400px;
    height: 5px;
    margin-left: 2%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.Dagsetning {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
	font-size: 20px;
	color: black;
}

.Location {
	display: flex;
	justify-content: space-between;
    margin-left: 3%;
	font-size: 13px;
	color: black;

}
.locloc {
	
}


.Tilbod_2{
	background-color:white;
	padding: 5% 10%;
	margin-top: 1%;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5%;
}
.Tilbod_3{
	background-color:rgb(0, 0, 0);
	padding: 5% 10%;
	margin-top: 1%;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5%;
}

.Tilbod_4{
	background-color:white;
	padding: 5% 10%;
	margin-top: 1%;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5%;
}



/*Footer section*/

.Footer-section {
	background-color: black;
	padding: 5% 5%;
	font-weight: bold;
	font-size: 18px;
	color:white;
    text-align: center;
}
