h1 {
    color: blueviolet;
    text-align: center
}

.places {
    color: pink
}


.header-section {
	background-color:white;
	padding: 5% 10%;
}

/*Tilbods svæðið*/

.Tilbod_1{
	background-color:black;
	padding: 5% 10%;
	margin-top: 1%;
	color: white;
}

.Tilbod_2{
	background-color:white;
	padding: 5% 10%;
	margin-top: 1%

}
.Tilbod_3{

	background-color:black;
	padding: 5% 10%;
	margin-top: 1%;
	color: white;
}

.Tilbod_4{
	background-color:white;
	padding: 5% 10%;
	margin-top: 1%

}



/**/