<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheet/main.css">
    <title>Lokaverkefni - Matartilboð!</title>
</head>
<body>
    <header>
        <section class="header-section">

            
            <h1>Very nice</h1>
            <h2><%= title %></h2>
        </section>
    </header>
    <main>
        <h3 class="places">t.d .. vodafone rúnk tilboð</h3>
        <div>

        </div>

		<section class="Tilbod_1">
		</section>

		<section class="Tilbod_2">
		</section>
		
		<section class="Tilbod_3">
		</section>

		<section class="Tilbod_4">
		</section>

    </main>

<script src="javascript/main.js"></script>
</body>
</html>