<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheet/main.css">
    <title>Lokaverkefni - Matartilboð!</title>
</head>
<body>
    <header>
        <h1>Test header</h1>
        <h2><%= title %></h2>
    </header>
    <main>
        <h3 class="places">Staðir</h3>
        <div>

        </div>
    </main>

<script src="javascript/main.js"></script>
</body>
</html>